<form>
    <!--Text-->
    <fieldset>
        <legend>User Data</legend>
        <!-- Etiqueta / Campo "Nombre" -->
        <div class="form-group row">
            <label for="name" class="col-3">Name</label>
            <input type="text" class="form-control col-9" name="name" id="name" [(ngModel)]="contact.name" required placeholder="Indica tu nombre (es obligatorio)">
        </div>
        <!--Etiqueta / Campo "Apellidos"-->
        <div class="form-group row">
            <label for="lastname" class="col-3">LastName</label>
            <input type="text" class="form-control col-9" id="lastname" name="lastname" [(ngModel)]="contact.lastname" required placeholder="Indica tu apellido (es obligatorio)">
        </div>
        <!--Etiqueta / Campo "Correo"-->
        <div class="form-group row">
            <label for="eMail" class="col-3">Email</label>
            <input type="email" class="form-control col-9" id="eMail" name="eMail" [(ngModel)]="contact.email" required placeholder="Indica tu email (es obligatorio)">
        </div>
        <!--Etiqueta / Campo "Telefono"-->
        <div class="form-group row">
            <label for="phoneNumber" class="col-3">Phone</label>
            <input type="text" class="form-control col-9" id="phoneNumber" name="phoneNumber" [(ngModel)]="contact.phoneNumber" required pattern="^[9|6]{1}([\d]{2}[-]*){3}[\d]{2}$" placeholder="9xx-xx-xx-xx (es obligatorio)">
        </div>
    </fieldset>
    <!--Select/options -->
    <fieldset class="form-group">
        <!--Etiqueta / Campo "Grupo"-->
        <legend>Group</legend>
        <div class="form-group row">
            <select class="form-control" id="grupo" name="grupo"> 
                <option>Family</option>
                <option>Friends</option>
                <option>Bussines</option>
                <option>Job</option>
                <option>Others</option>
            </select>
        </div>
    </fieldset>
    <div class="optional row">
        <!--Radio-Buttos-->
        <fieldset class="form-group col">
            <!--Etiqueta / Campo "Sector laboral"-->
            <legend>Sector Jobs</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input"
                        name ="sector" id="tecnico" 
                        value="tecnico">
                    Técnico
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input"
                        name ="sector" id="creativo" 
                        value="creativo">
                    Creative
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input"
                        name ="sector" id="comercial" 
                        value="comercial">
                    Comercial
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input"
                        name ="sector" id="otros" 
                        value="otros">
                    Others
                </label>
            </div>
        </fieldset>
        <!--Checkbox-->
        <fieldset class="form-group col">
            <legend>Hobbys</legend>
            <div class="form-check">
                <label class="form-check-label">
                <input type="checkbox"  class="form-check-input"
                    id="lectura" name="lectura">
                    Read
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                <input type="checkbox"  class="form-check-input"
                    id="musica" name="musica"> 
                    Music</label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                <input type="checkbox"  class="form-check-input"
                    id="deporte" name="deporte"> 
                    Sport</label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                <input type="checkbox"  class="form-check-input"
                    id="viajar" name="viajar"> 
                    Travel</label>
            </div>
        </fieldset>
    </div>


    <div class="form-group row">
        <button type="submit" class="btn btn-primary mr-2">
            Enviar</button>
        <button type="button" class="btn btn-primary">
            Borrar</button>
    </div>
</form>

{{contact | json}}