<div class="container">
    <nav class="row">
        <ul class="col nav nav-pills">
            <li class="nav-item nav-link">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item nav-link">
                <a class="nav-link" href="#">Tasks</a>
            </li>
            <li class="nav-item nav-link">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item nav-link">
                <a class="nav-link" href="#">Books</a>
            </li>
            <li class="nav-item nav-link">
                <a class="nav-link" href="#">About us</a>
            </li>
        </ul>
    </nav>
</div>