<div class="card">
    <div class="card-header">
        <h4 class="card-title">Saludar</h4>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for=""></label>

            <label for="">User name</label>
            <input type="text" [(ngModel)]="usuario" class="form-control" name="userName" id="userName" placeholder="name">
        </div>
        <p class="card-text">Text</p>

        <button (click)="btnRemove($event)">Remove</button>
    </div>
    <div class="card-footer text-muted">
        Hi! {{usuario}}
    </div>
</div>